{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ГБУ "Республиканская Стоматологическая Поликлиника" Ортодонтическое отделение</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'RSP/img/logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/owl.carousel.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/themify-icons.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/nice-select.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/flaticon.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/gijgo.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/animate.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/slicknav.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'RSP/css/style.css' %}">

</head>
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="http://rsp95.ru/" target="_blank">
                                    <img src="{% static 'RSP/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">Главная</a>
                                        <li><a href="{% url 'doctors' %}">Доктора</a></li>
                                        <li><a href="{% url 'add_doctors' %}">Add doctors</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#test-form">Записаться на прием</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
{% block content %} {% endblock %}
    </section>
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Ссылки
                            </h3>
                            <ul>
                                <li><a href="http://rsp95.ru/" target="_blank">ГБУ "РСП"</a></li>
                                <li><a href="https://www.mzchr.ru/" target="_blank">Минздрав ЧР</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Адрес
                            </h3>
                            <p>
                                Чеченская Республика, г.Грозный, ул. Шейха А-Х.С. Яндарова, 55 (Коммунистическая) <br>
                                +7-8712-22-26-74 <br>
                                rsp.stomat@mail.ru
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
            </div>
        </div>
    </footer>
</body>
</html>