<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<style>
    h1 {
    color: blue;
    }
</style>
<br><br><br><br><br><br><br><br><br><br>
<h1 align="center"> Найти среднюю зарплату </h1>
<br><br>
<div align="center">

    <form action="/result" name="find_vacancies" method="post">
        <div>
            <input type="text" name="search" placeholder="Поиск..." required>
        </div>
        <div>
            <input type="text" name="city" placeholder="Город" >
        </div>
        <div>
            <input type="submit" value="Найти">
        </div>
    </form>

</div>
</body>
</html>
