<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <style>
    h1 {
      text-align: center;
      color: #004156;
    }
    div {
      background-color: #E8D5D5;
    }
</style>
</head>
<body>

<br><br><br>

<div class="container" >
    <br><br>
    <h1> Найти среднюю зарплату </h1>
    <br><br><br>
    <form action="/result" name="find_vacancies" method="post">
        <p>
            <label for="main-field">Ввести запрос</label>
            <input id="main-field" type="text" name="search" autofocus required>
        </p>
        <p>
            <label for="city-field">Город</label>
            <input id="city-field" type="text" name="city" placeholder="(не обязательно)" >
        </p>
        <p>
            <input type="submit" value="Найти">
        </p>
        <br><br><br>
    </form>

</div>
</body>
</html>
